@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  max-width: 1400px;
  margin: 0 auto; }

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400; }

p {
  font-size: 1.6rem; }

.header {
  display: flex;
  justify-content: space-between;
  height: 10rem;
  border-bottom: 1px solid #e0e2e6;
  user-select: none; }
  .header__logo-nav {
    display: flex;
    align-items: center; }
  .header__logo {
    font-size: 1.4rem; }
  .header__nav {
    margin-left: 4rem;
    height: 100%;
    display: flex;
    align-items: center; }
    .header__nav > a + a {
      margin-left: 3rem; }
    .header__nav a {
      font-size: 1.4rem;
      text-decoration: none;
      color: #68707d;
      height: inherit;
      display: flex;
      align-items: center;
      position: relative; }
      .header__nav a::after {
        content: "";
        position: absolute;
        inset: 0; }
      .header__nav a:hover {
        color: #1d2025; }
      .header__nav a:hover:after {
        border-bottom: 3px solid #ff7d1a; }
  .header__usermenu {
    display: flex;
    align-items: center; }
    .header__usermenu--cart {
      width: 4rem;
      height: 4rem;
      background: url("../../images/icon-cart.svg") no-repeat center;
      border: none;
      margin-right: 2rem;
      cursor: pointer; }
    .header__usermenu--avatar {
      cursor: pointer;
      background: transparent;
      border-radius: 50%;
      width: 5rem;
      height: 5rem;
      position: relative;
      border: 2px solid transparent; }
      .header__usermenu--avatar img {
        width: 100%;
        object-fit: fill; }
      .header__usermenu--avatar:active {
        border: 2px solid #ff7d1a; }

main {
  width: 100%;
  margin: 4rem 2rem 1rem; }

.btn {
  font-size: 1.5em;
  vertical-align: middle;
  border-radius: .5em;
  text-align: center;
  cursor: pointer;
  background-color: #ff7d1a;
  color: white;
  padding: .7em 3em;
  border: 1px solid transparent;
  font-weight: bold;
  position: relative; }
  .btn:hover {
    background: #ff9a4d; }

.cost__info {
  font-size: 1rem;
  position: relative; }
  .cost__info__price {
    float: left; }
    .cost__info__price--special {
      font-size: 2em;
      font-weight: bold;
      margin-bottom: .2em; }
    .cost__info__price--actual {
      color: #68707d;
      font-size: 1.5em;
      text-decoration: line-through; }
  .cost__info--discount {
    margin-left: 1em;
    float: left;
    display: inline-block;
    padding: .5em .8em;
    border-radius: .3em;
    background-color: #ffede0;
    color: #ff7d1a;
    font-weight: bold; }

.quant__adder {
  display: flex;
  align-items: center;
  background-color: #f7f8fd;
  font-size: 1rem; }
  .quant__adder--minus, .quant__adder--plus {
    border-radius: .5em;
    padding: 1.5em 1em;
    width: 1em;
    height: 1em;
    border: none;
    color: #ff7d1a;
    font-weight: 400;
    cursor: pointer; }
    .quant__adder--minus:hover, .quant__adder--plus:hover {
      background-color: #e0e2e6; }
    .quant__adder--minus:active, .quant__adder--plus:active {
      background-color: #b6bcc8; }
  .quant__adder--minus {
    background: url("../../images/icon-minus.svg") no-repeat center; }
  .quant__adder--plus {
    background: url("../../images/icon-plus.svg") no-repeat center; }
  .quant__adder span {
    min-width: 6ch;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold; }

.product__gallery--activeimage {
  position: relative;
  width: 100%; }
  .product__gallery--activeimage img {
    width: 100%;
    border-radius: .8rem;
    object-fit: fill;
    object-position: center; }

.product__gallery--altimages {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem; }
  .product__gallery--altimages > div {
    width: 10rem;
    height: 10rem;
    position: relative; }
  .product__gallery--altimages img {
    width: 100%;
    object-fit: fill;
    border-radius: .8rem; }

.icon {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  transform: translate(0, 0);
  -webkit-font-smoothing: antialiased; }

.icon__cart::before {
  content: url("../../images/icon-cart.svg"); }

.product .images {
  width: 45%;
  float: left;
  padding-right: 8rem; }

.product .details {
  width: 45%;
  float: left;
  display: flex;
  flex-direction: column;
  padding: 4rem 0 2rem; }
  .product .details__company {
    color: #ff7d1a;
    letter-spacing: .2rem;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase; }
  .product .details h2 {
    font-size: 4rem;
    margin: 1rem 0; }
  .product .details p {
    color: #68707d;
    margin: 2rem 0 2rem; }
  .product .details__addquant {
    margin-top: 2rem;
    display: flex;
    align-items: center; }
    .product .details__addquant > * + * {
      margin-left: 1rem; }
