// COLORS 
$color-primary: hsl(26, 100%, 55%);
$color-primary-light: hsl(25, 100%, 94%);

// blue-variants
$color-darkblue: hsl(220, 13%, 13%);
$color-darkgrayish-blue: hsl(219, 9%, 45%);
$color-grayish-blue: hsl(220, 14%, 75%);
$color-lightgrayish-blue: hsl(220, 11%, 89%);
$color-lightergrayish-blue: hsl(223, 64%, 98%);

$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);

// FONT 
$default-font-size: 1.6rem;


// VIEWPORT 
$vw-mobile-min: 375px; 
$vw-desktop-max: 1400px; 

// PATH
$image-path: "../../images";