// COLORS 
$color-primary: hsl(26, 100%, 55%);
$color-primary-light: hsl(25, 100%, 94%);

// blue-variants
$color-darkblue: hsl(220, 13%, 13%);
$color-darkgrayish-blue: hsl(219, 9%, 45%);
$color-grayish-blue: hsl(220, 14%, 75%);
$color-lightgrayish-blue: hsl(220, 11%, 89%);
$color-lightergrayish-blue: hsl(223, 64%, 98%);

// sidebar backdrop
$color-sidebar-backdrop: rgba(0,0,0,.32);

// overlay colors
$color-gray-1: rgba(255, 255, 255, 0.589);
$color-gray-2: rgba(255, 255, 255, 0.411);

$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);

// FONT 
$default-font-size: 1.6rem;


// VIEWPORT 
$vw-mobile-min: 375px; 
$vw-desktop-max: 1400px; 

// PATH
$image-path: "../../images";

// SHADOW 
$shadow-smooth-8: 0 1px 1px hsla(0deg, 0%, 0% , 0.075),
      0 2px 2px hsla(0deg ,0% ,0% ,0.075),
      0 4px 4px hsla(0deg ,0% ,0% , 0.075),
      0 8px 8px hsla(0deg ,0% ,0% , 0.075)
    ;
$shadow-smooth-16: 0 1px 1px hsla(0deg, 0% ,0% ,0.075),0 2px 2px hsla(0deg ,0%, 0% ,0.075),0 4px 4px hsla(0deg ,0%, 0%, 0.075),0 8px 8px hsla(0deg ,0%, 0% , 0.075),0 16px 16px hsla(0deg, 0% ,0%,  0.075);

$shadow-smooth-24: 0 1px 1px hsla(0deg, 0% ,0% ,0.08),0 2px 2px hsla(0deg ,0%, 0% ,0.08),0 4px 4px hsla(0deg ,0%, 0%, 0.08),0 8px 8px hsla(0deg ,0%, 0% , 0.08),0 16px 16px hsla(0deg, 0% ,0%,  0.08), 0 24px 24px hsla(0,0%,0%,0.08);