.header {
  display: flex;
  justify-content: space-between;
  height: 10rem;
  padding: 0 1rem;
  border-bottom: 1px solid $colors-slate7;
  user-select: none;
  background: $colors-white;
  transition: border 0.2s ease;
  font-size: 1.5rem;

  &__logo-nav {
    display: flex;
    align-items: center;
  }
  &__logo {
    font-size: 1em;
    display: flex;
    align-items: center;
  }
  &__nav {
    margin-left: 2.5em;
    height: 100%;
    display: flex;
    align-items: center;
    > a + a {
      margin-left: 2em;
    }
    a {
      font-size: 1.1em;
      text-decoration: none;
      color: $colors-slate11;
      height: inherit;
      display: flex;
      align-items: center;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        inset: 0;
      }
      &:hover {
        color: $colors-blue12;
      }
      &:hover:after {
        border-bottom: 3px solid $colors-orange9;
      }
    }
  }
  &__usermenu {
    display: flex;
    align-items: center;

    &--cart {
      width: 5em;
      height: 5em;
      background: url($image-path + "/icon-cart.svg") no-repeat center;
      border: none;
      margin-right: 1.5em;
      cursor: pointer;
      position: relative;

      .count {
        position: absolute;
        right: 1em;
        top: 1em;
        font-size: 0.9em;
        padding: 0.1em 0.6em;
        font-weight: bold;
        border-radius: 40%;
        background-color: $colors-orange9;
        color: $colors-white;
        @media screen and (max-width: $vw-md) {
          right: -0.3em;
          top: -0.3em;
        }
      }
      @media screen and (max-width: $vw-md) {
        width: 2em;
        height: 2em;
      }
    }
    &--avatar {
      cursor: pointer;
      background: transparent;
      border-radius: 50%;
      width: 4em;
      height: 4em;
      position: relative;
      border: 2px solid transparent;
      img {
        width: 100%;
        object-fit: fill;
      }
      &:active {
        border: 2px solid $colors-orange9;
      }
      @media screen and (max-width: $vw-md) {
        width: 2.2em;
        height: 2.2em;
      }
    }
    @media screen and (max-width: $vw-md) {
      font-size: 0.8rem;
    }
  }
  &__mobile-nav-menu {
    background: none;
    border: 0;
    display: none;
    padding: 0.5rem;
    margin-right: 0.6rem;
    margin-top: 0.6rem;
    cursor: pointer;
  }
  @media screen and (max-width: $vw-md) {
    padding: 0.5rem;
    height: auto;
    min-height: 5rem;
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: none;
    &__mobile-nav-menu {
      display: block;
    }
    &__nav {
      display: none;
    }
  }
}
