.btn {
  font-size: 1.5rem;
  vertical-align: middle;
  border-radius: .5em;
  text-align: center;
  cursor: pointer;
  background-color: $color-primary;
  color: $color-white;
  padding: .7em 3em;
  border: 1px solid transparent;
  font-weight: bold;
  position: relative;
  user-select: none;
  transition: all .2s linear;
  width: 100%;
  svg {
    margin: 0 .2em;
    vertical-align: top;
  }
  svg path {
    fill: currentColor;
  }
  &:hover {
    background: lighten($color-primary, 10%); 
    box-shadow: $shadow-smooth-16;
  }
  &:hover:active {
    box-shadow: none;
  }
}