.cart-menu {
  font-size: 1rem;
  position: absolute;
  width: 30rem;
  right: 10%;
  top: 15%;
  box-shadow: $shadow-smooth-24;
  border-radius: .5em;
  background: $color-white;
  @media screen and (max-width: $vw-mobile-min) {
    width: 96%;
    top: 10%;
    right: 2%;
    left: auto;
  }
  &__header {
    padding: 1.3rem;
    border-bottom: 1px solid $color-lightgrayish-blue;
    font-size: 1.5em;
    font-weight: bold;
  }
  &__body {
    min-height: 12rem;
  }
  &__body.empty {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item .img-wrapper {
    width: 4rem;
    height: 4rem;
    position: relative;
    img {
      width: 100%;
      object-fit: fill;
      border-radius: .4em;
    }
  }
  &__empty {
    font-size: 1.2rem;
    font-weight: bold;
    color: $color-darkgrayish-blue;
  }
  &__item {
    font-size: 1rem;
    padding: 1.2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &__info {
      font-size: 1.3rem;
      color: $color-darkgrayish-blue;
      flex-basis: 70%;
      &--name {
        padding-bottom: .5em;
        @media screen and (max-width: $vw-mobile-min){
          text-overflow: ellipsis;
          max-width: 200px;
          overflow: hidden;
          white-space: nowrap;
        }
      }
      &--totalcost {
        color: $color-black;
        font-weight: bold;
      }
    }
    &--delete {
      background: none;
      border: none;
      font-size: 1.2em;
      transform: scale(1.2);
      align-self: center;
      cursor: pointer;
    }
  }
}