.icon {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  transform: translate(0,0);
  -webkit-font-smoothing: antialiased;
}
.icon__cart {
  &::before {
    content: url($image-path + "/icon-cart.svg");
  }
}