.lightbox {
  display: flex;
  flex-direction: column;
  border: none;
  position: relative;
  max-width: 640px;
  .close-btn {
    background: none;
    cursor: pointer;
    align-self: flex-end;
    border: none;
    transform: scale(1.5);
    padding: .5rem;
    z-index: 1;
    svg path {
      fill: $color-lightergrayish-blue;
    }
    &:hover > svg path {
      fill: $color-primary;
    }
  }
  .stage {
    position: relative;
    background: none;
    cursor: pointer;
    width: 100%;
    border: none;
    img {
      width: 100%;
      border-radius: 1rem;
      object-fit: fill;
      object-position: center;
    }
    &--previous,&--next {
      position: absolute;
      width: 4rem;
      height: 4rem;
      padding: 1rem;
      background: $color-lightergrayish-blue;
      border: 2px solid transparent;
      border-radius: 50%;
      box-shadow: $shadow;
      color: $color-primary;
      cursor: pointer;
      &:hover > svg path{
        stroke: $color-primary;
      }
    }
    &--previous {
      top: 49%;
      left: 0;
      transform: translate(-50%,-50%);
    }
    &--next {
      top: 49%;
      right: 0;
      transform: translate(50%,-50%);
    }
  }
  .altimages {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 2rem auto 0;

    .item {
      width: 7rem;
      height: 7rem;
      position: relative;
      cursor: pointer;
      border-radius: 1.1rem;
      background: none;
      border: 2px solid transparent;
      transition: opacity .3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      img {
        width: 100%;
        object-fit: fill;
        border-radius: 1rem;
      }
      .overlay {
        position: absolute;
        inset: 0;
        border-radius: inherit;
      }
    }
    .item.active {
      border: 2px solid $color-primary;
    }
    .item.active .overlay {
      background: rgba(255, 255, 255, 0.589);
    }
    .item:hover .overlay {
      background: rgba(255, 255, 255, 0.411);
    }
  }
}