.quant__adder {
  display: flex;
  align-items: center;
  background-color: $colors-slate4;
  font-size: 1rem;
  border-radius: 0.5em;
  width: 100%;
  justify-content: space-between;
  &--minus,
  &--plus {
    border-radius: 0.5em;
    padding: 1.5em 1.3em;
    width: 1em;
    height: 1em;
    border: none;
    color: $colors-orange9;
    font-weight: 400;
    cursor: pointer;
    &:hover {
      background-color: $colors-slate7;
    }
    &:active {
      background-color: $colors-slate8;
    }
  }
  &--minus {
    background: url($image-path + "/icon-minus.svg") no-repeat center;
  }
  &--plus {
    background: url($image-path + "/icon-plus.svg") no-repeat center;
  }
  span {
    min-width: 6ch;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
  }
}
