.product {
  font-size: 1rem;
  position: relative;
  margin: 4rem 0rem 2rem;
  @media screen and (max-width: $vw-xl) {
    margin: 4rem 1rem 2rem;
  }
  @media screen and (max-width: $vw-sm) {
    font-size: 0.7rem;
    margin: 0 0 2rem;
  }
  &__images {
    width: 45%;
    float: left;
    padding-right: 8em;
    @media screen and (max-width: $vw-lg) {
      padding-right: 4em;
      width: 50%;
    }
    @media screen and (max-width: $vw-sm) {
      width: 100%;
      float: unset;
      display: block;
      padding: 0;
    }
  }
  &__details {
    width: calc(100% - 45% - 8em);
    float: left;
    display: flex;
    flex-direction: column;
    padding: 4em 0 2em;
    @media screen and (max-width: $vw-lg) {
      width: calc(100% - 50% - 4em);
    }
    @media screen and (max-width: $vw-sm) {
      width: 100%;
      float: unset;
      display: block;
      padding: 1em;
    }
    .manufacturer {
      color: $colors-orange9;
      letter-spacing: 0.2em;
      font-size: 1.3em;
      font-weight: bold;
      text-transform: uppercase;
    }
    h2 {
      font-size: 4em;
      margin-top: 1em;

      @media screen and (max-width: $vw-lg) {
        font-size: 3.5em;
        margin-top: 0.8em;
      }
      @media screen and (max-width: $vw-sm) {
        font-size: 3em;
        margin-top: 0.5em;
      }
    }
    p {
      color: $colors-slate11;
      margin: 2em 0;
      font-size: 2em;

      @media screen and (max-width: $vw-sm) {
        margin: 1.5em 0 2em;
        font-size: 2em;
      }
    }
    .adder {
      margin-top: 2em;
      display: flex;
      align-items: center;
      &__inner {
        flex-grow: 0;
      }
      .adder__inner + .adder__inner {
        margin-left: 1em;
      }
      @media screen and (max-width: $vw-lg) {
        flex-direction: column;
        &__inner {
          width: 100%;
          flex-grow: 1;
        }
        .adder__inner + .adder__inner {
          margin-left: 0;
          margin-top: 2em;
        }
      }
    }
  }
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
